%h2
  =user.name
  %small
    (#{user.username})

.content
  .user-left
    .panel.panel-default.user-information
      .panel-heading
        %h3.panel-title
          Biography
      .panel-body
        Lorem impsu...

    .panel.panel-default.user-information
      .panel-heading
        %h3.panel-title
          Personal Information
      .panel-body
        Lorem impsu...

  .user-right
    .panel.panel-default.user-events
      .panel-heading
        %h3.panel-title
          User's Events
      .panel-body
        %h3.title-events 
          User's Current Events
        =render "user_current_events"
        %h3.title-events
          User's Next Events
        =render "user_next_events"
        %h3.title-events 
          User's Donde Events
        =render "user_done_events"
