-@events.done.each do |event|
  %h3
    =link_to event.name, user_event_path(event.user_id, event)
  %h5
    =event.description
  %span
    Date:
    ="From #{event.first_date} to #{event.second_date}"
  %br
  %hr

