=@events.next.each do |event|
  %h3
    =link_to event.name, user_event_path(event.user_id, event)
  %h5
    =event.description
  %span
    Date:
    ="from #{event.start_date} to #{event.end_date.present? ? event.end_date : event.start_date}"
  %br
  %hr

