%h1.photos-menu
  Pictures of Event
  %hr
  %h4
    %ul.photos-ul
      %li#button-right.menu_item
        previous
      %li#button-left.menu_item
        next
    %br
      .event-photos
        .photos-container
