%h1
  =event.name
  %h4
    by
    =link_to event.user_name, user_path(event.user)
%h3
  =event.description
=image_tag("#{event.image}", class: 'event_poster')
%h3
  %span
  Date:
  ="From #{event.start_date_format} to #{event.end_date_format}"

%h3
  %span
    Place:
    =event.place
  %span
    Cost:
    =event.cost
  %span
    Time:

    =event.hour
%h3
  Requirements:
  =event.requirements
%h3
  Notes:
  =event.notes
%h3 
=render "menu"
#chronicle_events
  =render "chronicle"
#photos_events
  =render "photos"
#data_events
  =render "data"

