=render "menu"
%h1
  =event.name
%h3
  =event.description
=image_tag("event_default.jpg")
%h3
  %span
    Place:
    =event.place
  %span
    Cost:
    =event.cost
  %span
    Time:

    =event.hour
%h3
  Requirements:
  =event.requirements
%h3
  Notes:
  =event.notes
%h3 
