.container
  width: 900px
  margin: 0 auto
.input_form
  width: 400px
.text_area
  height: 100px
.end_date
  visibility: hidden

.event_menu li 
  display: inline

.event-info
  background: green
  padding: 5px
  margin-right: 5px
  border-radius: 3px
  color: white

.date-event 
  background: yellow
  color: black

.picture-home
  text-align: center

.event-photos
  width: 650px
  height: 450px

.photos-container
  width: 600px
  height: 400px
  background-image: url('events/event1.jpg') 
  background-repeat: no-repeat

.photos-ul li
  display: inline

.button-photo
  display: inline
  background: blue
  margin: 0 5px 5px 0 
  border-radius: 5px
  padding: 3px

.menu_item
  margin-right: 5px 
  background: black
  padding: 5px
  border-radius: 4px
  color: white
  &:hover
    background: grey

#chronicle_events
  display: none
#photos_events
  display: none
#data_events
  display: none

.event_poster
  max-width: 500px
  max-height: 500px
