.container
  width: 900px
  margin: 0 auto
.input_form
  width: 400px
.text_area
  height: 100px
.end_date
  visibility: hidden

.event_menu li 
  display: inline

.menu_item
  margin-right: 5px 
  background: black
  padding: 5px
  border-radius: 4px
  color: white
  &:hover
    background: grey

#chronicle_events
  display: none
#photos_events
  display: none
#data_events
  display: none

